<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEG 411</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="heading-text">
        <h1>Solving Statically Indeterminate Beams and Frames using the
            <br> Slope Deflection Method
            <br>
            <div class="start-button-container">
                <button class="start-button">
                    <a href="./main.html">Let's Begin!</a>
                </button>
            </div>
        </h1>
    </div>
</body>
</html>
