<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slope Deflection Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.0.0/math.min.js"></script>

  </head>

  <body id="main-page">
    <div class="container">
      <div>
        <h1>
          Analysis of Statically Indeterminate Beams
          <br />
          Using the Slope Deflection Method
        </h1>
        <p>
          Moments and Reactions acting on different types of Indeterminate beams
          can be resolved using this slope deflection tool
        </p>
      </div>
      <div>
        <div class="box box-blue">
          <p>
            <strong>Fill out the input fields with details of Beam</strong>
          </p>
        </div>

        <form class="box" id="beamForm">
            <div class="form-control">
              <label for="numSupports">Supports:</label>
              <input
                type="number"
                id="numSupports"
                value="0"
                placeholder="Number of supports?"
                min="0"
                max="15"
              />
              <img src="{{ url_for('static', filename='icon-error.svg')}}" alt="error-icon" />
              <small></small>
            </div>
          
            <div class="form-control">
              <label for="numJoints">Internal Joints:</label>
              <input
                type="number"
                id="numJoints"
                placeholder="Number of joints?"
                min="0"
                max="10"
              />
              <img src="{{ url_for('static', filename='icon-error.svg')}}"  alt="error-icon" />
              <small></small>
            </div>
          
            <div class="form-control">
              <label for="numSpans">Spans:</label>
              <input
                type="number"
                id="numSpans"
                placeholder="Number of spans?"
                min="0"
                max="10"
              />
              <img src="{{ url_for('static', filename='icon-error.svg')}}" alt="error-icon" />
              <small></small>
            </div>

             <!-- Dynamic Span Information -->
            <div id="spanDetails"></div>
            <hr />

          
            <div class="form-control">
              <label for="settlement">Settlements?</label>
              <select id="settlement" name="settlement">
                <option value="yes">Yes</option>
                <option value="no" selected>No</option>
              </select>
              <img src="{{ url_for('static', filename='icon-error.svg')}}"  alt="error-icon" />
              <small></small>
            </div>
            <div id="settlementDetails"></div>


            <div class="form-control">
              <label for="firstNodeFixed">First node fixed?</label>
              <select id="firstNodeFixed" name="firstNodeFixed">
                <option value="yes">Yes</option>
                <option value="no" selected>No</option>
              </select>
              <img src="{{ url_for('static', filename='icon-error.svg')}}"  alt="error-icon" />
              <small></small>
            </div>
          
            <div class="form-control">
              <label for="lastNodeFixed">Last node fixed?</label>
              <select id="lastNodeFixed" name="lastNodeFixed">
                <option value="yes">Yes</option>
                <option value="no" selected>No</option>
              </select>
              <img src="{{ url_for('static', filename='icon-error.svg')}}"  alt="error-icon" />
              <small></small>
            </div>
          

            <!--  -->
            <button type="submit" onclick="">Calculate</button>
            <p></p>
            <small>
              Kindly be patient while the beam is analyzed or
              <a href="{{url_for('homepage')}}"> go home..</a>
            </small>

            <br />
            <div id="results"></div>
          </form>
          
      </div>
    </div>
    <script src="{{ url_for('static',filename='index.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
  </body>
</html>
